
#projectButton {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    display: block;
    cursor: pointer;
    width: 300px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10px;
    transition: 0.3s;
}

.profileImg {
  object-fit: cover;
  border: solid black;
  border-radius: 30%;
  border-width: thin;
}

#projectButton:hover {
    cursor: pointer;
    background-color: orangeRed;
}

li {
  list-style: none;
}

.phone {
  /* margin: 40px 0 10px -100px; */
  /* margin-left: -30px; */
  display: inline-block;
  user-select: none;
  vertical-align: middle;
}

.email {
  display: inline-block;
  margin-right: 0px;
  /* margin-left: -100px; */
}

  #bookSearch {
    text-decoration: none;
}

#contact {
  float: none;
}

.material-icons {
  margin: 10px;
  vertical-align: middle;
}

#icon {
  list-style: none;
  margin: 0 20px 0 20px;
  vertical-align: middle;
}

#contact{
  margin-right: 15%;
  float: right;
  text-align: left;
}

@media (max-width: 800px) {
  #linkedin {
    position: relative;
  }

  #buttonsContainer {
    display: block;
    margin: 0 auto;
  }

  #contact {
    margin: 0 auto;
  }

  #title {
    color: green;
  }

  
  .header {
    text-align: center;
  }

  #container {
    display: flex;
    flex-direction: column;
  }
}

#stackLogos {
  float: right;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  margin-right: 10%;
}

.mongoLogo {
  margin: auto;
  width: 100px;
  justify-content: center;
}

#reactLogo {
  display: flex;
  justify-content: center;
  height: 100px;
}

#frontEndLogos {
  display: flex;
  height: 100px;
}

#nodeLogo {
  justify-content: center;
  height: 100px;
}

.nav-icons {
  display: block;
  text-align: center;
  margin: 100px 0 40px 0;
}
  
  #calendar {
      text-decoration: none;
  }
  
  #mdnBallsButton {
    text-decoration: none;
  }
  
  #myOtherButton {
    text-decoration: none;
  }
  
  #clockAppButton {
    text-decoration: none;
  }
  
  #top {
    display: table;
    background-color: rgb(3, 194, 105);
    width: 100%;
    height: 30px;
  }

  #top li {
    display: table-cell;
    text-align: center;
  }
  
  #title {
      margin-left: 5%;
      color: #000;
  }
  
.github {
  margin: 10px 0 10px -100px;
  cursor: pointer;
}

#githubLink {
  text-decoration: none;
  color: orangered;
}

.linkedin {
  margin: 10px 0 10px -100px;
  cursor: pointer;
}

#linkedinLink {
  text-decoration: none;
  color: orangered;
}

  body {
    background-color: #111;
  }

  #calculator {
    text-decoration: none;
  }
  
  #buttonsContainer {
    float: left;
    text-align: center;
    margin-top: 10%;
  }

  #breakbricks {
    text-decoration: none;
  }
  
  @keyframes nav {
      0% {
          margin-left: -20%;
      }

      100% {
          margin-left: 120%;
      }
  }
